<aside id="sidebar-rand_posts">
    <div class="panel panel-gal recent hidden-xs" data-aos="fade-up" data-aos-duration="2000">
        <div id="aplayer"></div>
<script>
//这里本来是随机文章功能,现在已经移除,修改为音乐播放器插件功能
 const ap = new APlayer({
    container: document.getElementById('aplayer'),
    audio: [{
        name: '缘她',
        artist: '叶里',
        url: 'https://music.163.com/song/media/outer/url?id=1865165968.mp3',
        cover: 'https://p2.music.126.net/FBqnJq7RRtlpmfLuH2DwVw==/109951166239680703.jpg',
        preload: 'auto',
        autoplay: 'true',
    }]
});
</script>
    </div>
</aside>