<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert"></button>
    <!-- 这里自行配置公告内容 -->
     <p style=" font-weight:700;text-align: center;font-size:28px">落花不过身外客,流水从来是凉薄</p>
    <!-- 自行配置公告内容结束 -->
</div>