<section class="hidden-xs">
  <ul class="cb-slideshow">
    <li><span>远赴</span></li>
    <!-- <li><span>人间</span></li>
    <li><span>惊鸿宴</span></li>
    <li><span>一睹</span></li>
    <li><span>人间</span></li>
    <li><span>盛世颜</span></li> -->
  </ul>
</section>
